@import "vars";
@import "libs";
@import "fonts";
@import "global";

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.page-section {
    height: 100vh;
    padding-top: 80px;
    background: #333333;
}

.page-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}

// Header

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    z-index: 5;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}

.header__menu {
    display: flex;
}

.header__item + .header__item {
    margin-left: 40px;
}

.header__link {
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: -63px;
        width: 0%;
        right: 0;
        transition: 0.3s;
        height: 1px;
        background-color: #fff;
    }
    &:hover {
        color: rgb(226, 224, 224);
    }
}

.header__link.active {
    &:before {
        left: 0;
        width: 100%;
    }
}

.header__burger {
    display: none;
    position: fixed;
    right: 20px;
    z-index: 10;
    margin-right: 30px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    div {
        content: "";
        display: block;
        position: relative;
        background: #fff;
        width: 30px;
        height: 1px;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
        margin: 0 6px;
    }
    div:nth-child(1) {
        top: 0px;
    }
    div:nth-child(2) {
        margin-top: 6px;
    }
    div:nth-child(3) {
        margin-top: 6px;
    }
}

.header__burger--open {
    position: fixed;
    right: 20px;
    div {
        background: #fff;
    }
}

.header__burger--open div:nth-child(1) {
    transform: rotate(135deg);
    top: 10px;
}

.header__burger--open div:nth-child(2) {
    opacity: 0;
}

.header__burger--open div:nth-child(3) {
    transform: rotate(-135deg);
    position: relative;
    top: -4px;
}

// Home

.home__inner {
    position: relative;
}

.home__title {
    margin-bottom: 35px;
    max-width: 450px;
    position: relative;
    z-index: 2;
    text-align: left;
}

.home__inner {
    display: flex;
    justify-content: space-between;
}

.home__text {
    color: #888888;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
    margin-right: 20px;
    max-width: 439px;
}
.home__slider {
    width: 700px;
    height: 400px;
    position: relative;
}

.home__left,
.home__right {
    position: absolute;
    bottom: 4px;
    right: -1px;
    background-color: #3a3a3a;
    padding: 20px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.home__left {
    right: 61px;
    border-right: 1px solid #4a4a4a;
}

.home__slider .slick-disabled img {
    opacity: 0.15;
}

// About

.about__title {
    margin-bottom: 25px;
}
.about__text {
    line-height: 37px;
    font-weight: 700;
    max-width: 900px;
    margin-bottom: 35px;
}
.about__paragraphs {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.about__paragraph {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.5px;
    max-width: 450px;
    color: #888888;
}

.about__paragraph .about__paragraph {
    margin-left: 50px;
}

.about__img {
    text-align: center;
}

// Works

.works {
    background-color: #333333;
}

.works__slide {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 590px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 590px;
    }
}
.works__about {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    background-color: #fff;
    color: #895631;
    max-width: 340px;
}

.works__left,
.works__right {
    position: absolute;
    bottom: 4px;
    right: -1px;
    background-color: #895631;
    padding: 20px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    max-width: 62px;
    max-height: 62px;
}

.works__left {
    right: 61px;
    border-right: 1px solid #4a4a4a;
}

.works__slider .slick-disabled img {
    opacity: 0.15;
}

// FAQ

.faq__title {
    margin-bottom: 40px;
}

.faq__items {
    color: #333333;
}
.faq__item {
    background-color: #fff;
    display: inline-block;
    max-width: 750px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.faq__item + .faq__item {
    margin-top: 20px;
}

.faq__question {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 80px 15px 25px;
    position: relative;
    cursor: pointer;
    color: #333;
}

.faq__btn {
    width: 67px;
    height: 60px;
    position: absolute;
    background-color: #895631;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    cursor: pointer;
    img {
        transition: 0.3s;
    }
}

.faq__answer {
    font-size: 18px;
    padding: 15px 80px 15px 25px;
    line-height: 30px;
    color: #333;
}

.acc-container {
    width: 90%;
    margin: 30px auto 30px auto;
    border-radius: 5px;
    overflow: hidden;
    color: white;
}

.faq__inner--active .faq__btn img {
    transform: rotate(180deg);
}

// Contact

.contact__title {
    margin-bottom: 55px;
}
.contact__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-form__title {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 10px;
}
.contact-form__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 10px;
}
.contact-form__input {
    width: 280px;
    height: 45px;
    border: none;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    &::placeholder {
        font-size: 13px;
        line-height: 17px;
        color: rgba(51, 51, 51, 0.4);
    }
}

.contact-form__input + .contact-form__input {
    margin-left: 10px;
}

.contact-form__textarea {
    display: block;
    width: 580px;
    height: 145px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    &::placeholder {
        font-size: 13px;
        line-height: 17px;
        color: rgba(51, 51, 51, 0.4);
    }
}
.contact-form__btn {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 10px 15px;
    background: #895631;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    &:hover {
        background-color: #fff;
        color: #333333;
    }
}

.contact__info {
    margin-bottom: 80px;
}
.contact__city {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.contact__phone {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 5px;
    display: block;
}
.contact__email {
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    text-decoration: underline;
}

.contact__phone,
.contact__email {
    transition: 0.3s;
    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }
}

.contact-social__item + .contact-social__item {
    margin-left: 20px;
}

.contact-social__item {
    transition: 0.3s;
    &:hover {
        opacity: 0.8;
    }
}

@import "media";
