html {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


a {
    text-decoration: none;
    color: white;
}

ul,
li {
    list-style: none;
}